$maxWidth: 1218;
$mainFontFamily: "Open Sans", sans-serif;
$secondaryFontFamily: "Inter", sans-serif;
$mainFontSize: 10px;
$mainFontWeight: 400;
$mainFontColor: #000;
$bg-color: #fff;

// z-index
$z-cardControl: 2;
$z-sidebarFixed: 3;
